@implements IDisposable

<form>
    <div class="form-check d-flex align-items-center">
        <input type="checkbox" class="mt-0 form-check-input" id="cbAutoRefresh" @bind="AutoRefreshEnabled">
        <label class="ml-1 form-check-label form-inline" for="cbAutoRefresh">
            <span class="mr-2">Auto-refresh server status every</span>
            <input class="mr-2 form-control form-control-sm text-center" type="text" value="30" style="width: 50px;"
                title="Auto-refresh interval is currently not configurable." disabled />
            <span>seconds.</span>
        </label>
    </div>
</form>
