@page "/"

<NavLayout>
    <h1>Servers</h1>

    @* <button class="btn btn-primary mt-3" type="button">Add Server</button> *@

    <div class="mt-3">
        <ServerListing />
    </div>
</NavLayout>