@page "/news"
@layout AuthenticationNavLayout

<div>
    <h1 class="my-3">Hello everyone,</h1>

    <p>
        I would first like to start off by thanking everyone who has checked out and supported this project! This is
        one of my favorite projects to work on, and it's nice to see other people using it. I have many more features
        planned. This is only the beginning!
    </p>
    <p>
        However, I recently lost my job in real life. I was using my work email for all of this project's cloud
        infrastructure because that specific email granted me free perks on various platforms. Since I lost my job,
        I no longer have access to that email. Therefore, I cannot access the project or any data at all. Oh no!
    </p>
    <p>
        On the bright side, I was able to set everything back up again on my non-work email. I'm hoping it'll still
        be cheap to run on my end! So what does this mean for you? All this means is that you'll have to re-register and
        re-configure any of your saved settings. Aside from that, there is no need to be concerned about the secureness
        of the data in the old environment. No one is able to access my account, so the old data is safe and will
        be gracefully deleted.
    </p>
    <p>
        Thank you for understanding, and I apologize for the inconvenience.
    </p>
    <h3 class="my-3">
        - <a href="https://www.youtube.com/channel/UCeZErTl7zgutPImrYAxcZeA">PineconeLP</a>
    </h3>
</div>