@page "/news"
@layout AuthenticationNavLayout

<div>
    <h1 class="my-3">Hello everyone,</h1>

    <p class="my-3">
        No news at the moment! Come back later :)
    </p>

    <h3 class="my-3">
        - <a href="https://www.youtube.com/channel/UCeZErTl7zgutPImrYAxcZeA">PineconeLP</a>
    </h3>
</div>