<div>
    <CircularServerPlayerCount OnlinePlayers="@OnlinePlayers" 
                            MaxPlayers="@MaxPlayers" 
                            IsFull="@IsFull" 
                            IsFullExcludingQueue="@IsFullExcludingQueue" />
</div>
