<li class="list-group-item px-0 py-4">
    <div class="row align-items-center">
        @* <div class="col-auto">
            <input type="checkbox" value="@IsSelected" @onchange="OnIsSelectedChanged"/>
        </div> *@
        <div class="col">
            <h3>@Name</h3>
            <p class="my-0">@Description</p>
        </div>
        <div class="col-auto">
            <div class="h3">
                @OnlinePlayers / @MaxPlayers
            </div>
        </div>
    </div>
</li>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public int OnlinePlayers { get; set; }

    [Parameter]
    public int MaxPlayers { get; set; }

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public EventCallback<bool> IsSelectedChanged { get; set; }

    private Task OnIsSelectedChanged()
    {
        return IsSelectedChanged.InvokeAsync(IsSelected);
    }
}