<NavbarLayout>
    <div class="d-flex">
        <button class="btn btn-outline-primary" type="button">Login</button>
        <button class="ml-2 btn btn-primary" type="button">Register</button>
    </div>
</NavbarLayout>