@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-light bg-light px-0">
    <div class="container">
        <div class="row flex-grow-1 justify-content-center justify-content-sm-start">
            <div class="col-sm navbar-brand mb-0 mr-0 h1 text-wrap text-center text-sm-left">
                <NavLink href="/" class="text-decoration-none text-body">
                    Purity Vanilla Live Status
                </NavLink>
            </div>
            <div class="col-sm-auto">
                @ChildContent
            </div>
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}