<nav class="navbar navbar-light bg-light px-0">
    <div class="container">
        <div class="row flex-grow-1 justify-content-center justify-content-sm-start">
            <div class="col navbar-brand mb-0 mr-0 h1 text-wrap text-center text-sm-left">
                Purity Vanilla Live Status
            </div>
            <div class="col-auto">
                @ChildContent
            </div>
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}