@if (HasQueue)
{
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="cbNotify" value="@AllowNotifyJoinable"
            @oninput="OnAllowNotifyJoinableInput">
        <label class="form-check-label" for="cbNotify">
            Notify on joinable
            <span class="font-weight-light">(less than @MaxPlayersExcludingQueue online players)</span>
        </label>
    </div>
    <div class="mt-3 form-check">
        <input type="checkbox" class="form-check-input" id="cbQueueNotify" value="@AllowNotifyQueueJoinable"
            @oninput="OnAllowNotifyQueueJoinableInput">
        <label class="form-check-label" for="cbQueueNotify">
            Notify on queue joinable
            <span class="font-weight-light">(less than @MaxPlayers online players)</span>
        </label>
    </div>
}
else
{
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="cbNotify" @bind="AllowNotifyJoinable">
        <label class="form-check-label" for="cbNotify">
            Notify on joinable
            <span class="font-weight-light">(less than @MaxPlayers online players)</span>
        </label>
    </div>
}