<nav class="navbar navbar-light bg-light px-0">
    <div class="container">
        <div class="d-flex flex-grow-1 justify-content-center justify-content-sm-start">
            <div class="navbar-brand mb-0 h1 text-wrap text-center text-sm-left">
                Purity Vanilla Live Status
            </div>
        </div>
    </div>
</nav>